// 1. Import initial bulma variables and utilities
@import "~bulma/sass/utilities/initial-variables";
@import "~bulma/sass/utilities/functions";
@import "~bulma/sass/utilities/derived-variables";

// 2. Load some extra color schemes from js configs
$color-schemes: getJsSassVars($key: 'COLOR_SCHEMES');

@each $name, $scheme in $color-schemes {

    $primary-color: rgb(map-get(map-get($scheme, primary), r), map-get(map-get($scheme, primary), g), map-get(map-get($scheme, primary), b));
    $secondary-1-color: rgb(map-get(map-get($scheme, secondary-1), r), map-get(map-get($scheme, secondary-1), g), map-get(map-get($scheme, secondary-1), b));
    $secondary-2-color: rgb(map-get(map-get($scheme, secondary-2), r), map-get(map-get($scheme, secondary-2), g), map-get(map-get($scheme, secondary-2), b));
    $secondary-3-color: rgb(map-get(map-get($scheme, secondary-3), r), map-get(map-get($scheme, secondary-3), g), map-get(map-get($scheme, secondary-3), b));
    $text-primary: $primary-color;

    $addColor: (
        "#{$name}-primary":($primary-color, findColorInvert($primary-color)),
        "#{$name}-secondary-1":($secondary-1-color, findColorInvert($secondary-1-color)),
        "#{$name}-secondary-2":($secondary-2-color, findColorInvert($secondary-2-color)),
        "#{$name}-secondary-3":($secondary-3-color, findColorInvert($secondary-3-color))
    );
    $colors: map-merge($colors, $addColor);

}

$footer-background-color: $white;

// 3. Import the rest of Bulma
@import '~bulma/bulma'
